In [15]:
import pandas as pd 
import re 
from selenium import webdriver 
import selenium.webdriver.common.keys 
from selenium.webdriver.common.by import By
import html5lib
import numpy as np 
import time


browser = webdriver.Chrome("chromedriver.exe")
browser.get("https://www.linkedin.com")


username = browser.find_element(by='id',value="session_key")
username.send_keys("abhishekdesai.ele18@gmail.com")
password = browser.find_element(by='id',value="session_password")
password.send_keys("wFy;K)")


login_button = browser.find_element(By.CLASS_NAME,value="sign-in-form__submit-button")
login_button.click()


browser.get("https://www.linkedin.com/jobs/collections")
time.sleep(5)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_20156/284898973.py:11: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("chromedriver.exe")

In [76]:
##scrap designation

designation = browser.find_elements(By.CLASS_NAME,value='job-card-list__title')
a=[]
for i in designation:
    a.append(i.text)
print(a)
print()
print(len(a))
print()
print()

#scrap location

location = browser.find_elements(By.CLASS_NAME,value="job-card-container__metadata-item")
b=[]
for i in location:
    b.append(i.text)
    
print(b)
print()
print(len(b))
print()

c=[]
for i in b:
    if i!='On-site' and i!='Remote' and i!='Hybrid':
        c.append(i)
    else:
        pass
print(c)
print()
print(len(c))
print()
print()

# scrap companyname 

company = browser.find_elements(By.CLASS_NAME,value="job-card-container__company-name")
d=[]
for i in company:
    d.append(i.text)
    
print(d)
print()
print(len(d))

['Business Analyst', 'Business Analyst - Data and Analytics', 'BUSINESS ANALYST DOMAIN', 'Business Analyst | Ahmedabad', 'Business Analyst', 'Business Analyst: ADM', 'Business Analyst', 'Business Analyst', 'Business Analyst - Warranty Analyst-ANA006474', 'Mobile Business Analyst', 'Business Analyst: ADM', 'IndiaNIC Infotech - Business Analyst - Wireframing Tools', 'Business Analyst', 'Business Analyst', 'Business Analyst - BEACON', 'Business Analyst', 'Business Analyst', 'Business Analyst - MS-BFS015791', 'Business analyst', 'Business Analyst', 'Business Analyst', 'Solutions Analyst', 'Business Analyst', 'Business Analyst']

24


['Bengaluru, Karnataka, India', 'On-site', 'Bengaluru, Karnataka, India', 'Hybrid', 'Bengaluru, Karnataka, India', 'Ahmedabad, Gujarat, India', 'On-site', 'Vadodara, Gujarat, India', 'On-site', 'Bengaluru, Karnataka, India', 'On-site', 'Pune, Maharashtra, India', 'On-site', 'Kolkata, West Bengal, India', 'On-site', 'Bengaluru, Karnataka, India', 'On-site', 'Hyderabad, Telangana, India', 'Hybrid', 'Bengaluru, Karnataka, India', 'On-site', 'Ahmedabad, Gujarat, India', 'On-site', 'Ahmedabad, Gujarat, India', 'On-site', 'Mumbai, Maharashtra, India', 'Hybrid', 'Chennai, Tamil Nadu, India', 'On-site', 'Vadodara, Gujarat, India', 'On-site', 'Bengaluru East, Karnataka, India', 'On-site', 'Noida, Uttar Pradesh, India', 'On-site', 'Noida, Uttar Pradesh, India', 'On-site', 'Pune, Maharashtra, India', 'Hybrid', 'Chennai, Tamil Nadu, India', 'Hybrid', 'India', 'Remote', 'Bengaluru, Karnataka, India', 'Hybrid', 'Chennai, Tamil Nadu, India', 'Hybrid']

47

['Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Ahmedabad, Gujarat, India', 'Vadodara, Gujarat, India', 'Bengaluru, Karnataka, India', 'Pune, Maharashtra, India', 'Kolkata, West Bengal, India', 'Bengaluru, Karnataka, India', 'Hyderabad, Telangana, India', 'Bengaluru, Karnataka, India', 'Ahmedabad, Gujarat, India', 'Ahmedabad, Gujarat, India', 'Mumbai, Maharashtra, India', 'Chennai, Tamil Nadu, India', 'Vadodara, Gujarat, India', 'Bengaluru East, Karnataka, India', 'Noida, Uttar Pradesh, India', 'Noida, Uttar Pradesh, India', 'Pune, Maharashtra, India', 'Chennai, Tamil Nadu, India', 'India', 'Bengaluru, Karnataka, India', 'Chennai, Tamil Nadu, India']

24


['Shell', 'Schneider Electric', 'LTIMindtree', 'Elite Consultants', 'Bluebox Infosoft Pvt. Ltd.', 'IBM', 'HSBC', 'B3 - BRAIN BEHIND BRAND', 'Genpact', 'JPMorgan Chase & Co.', 'IBM', 'IndiaNIC Infotech Limited', 'Krish TechnoLabs', 'JPMorgan Chase & Co.', 'BNP Paribas', 'Rishabh Software', 'Infinite Computer Solutions', 'Genpact', 'Webkul', 'Synechron', 'Virtusa', 'Herald Logic Pvt Ltd', 'Societe Generale', 'Tech Mahindra']

24

In [77]:
#scrapping company link for industryname,no_of followers,no_emp

rt = browser.find_elements(By.CLASS_NAME ,value="job-card-container__company-name")
w=[]
for i in rt:
    w.append(i.get_attribute("href"))
print(w)
print()
print(len(w))

['https://www.linkedin.com/company/1271/', 'https://www.linkedin.com/company/2329/', 'https://www.linkedin.com/company/86813252/', 'https://www.linkedin.com/company/2100069/', 'https://www.linkedin.com/company/18661066/', 'https://www.linkedin.com/company/1009/', 'https://www.linkedin.com/company/1241/', 'https://www.linkedin.com/company/8322970/', 'https://www.linkedin.com/company/210064/', 'https://www.linkedin.com/company/1068/', 'https://www.linkedin.com/company/1009/', 'https://www.linkedin.com/company/253418/', 'https://www.linkedin.com/company/1106983/', 'https://www.linkedin.com/company/1068/', 'https://www.linkedin.com/company/1508/', 'https://www.linkedin.com/company/50226/', 'https://www.linkedin.com/company/11115/', 'https://www.linkedin.com/company/210064/', 'https://www.linkedin.com/company/914889/', 'https://www.linkedin.com/company/15506/', 'https://www.linkedin.com/company/5140/', 'https://www.linkedin.com/company/204218/', 'https://www.linkedin.com/company/1691/', 'https://www.linkedin.com/company/3067/']

24

In [78]:
#concat the link for no_emp

eer = []
for u in w:
    pqr = str(u) + 'people/'
    eer.append(pqr)
print(eer)
print()
print(len(eer))

['https://www.linkedin.com/company/1271/people/', 'https://www.linkedin.com/company/2329/people/', 'https://www.linkedin.com/company/86813252/people/', 'https://www.linkedin.com/company/2100069/people/', 'https://www.linkedin.com/company/18661066/people/', 'https://www.linkedin.com/company/1009/people/', 'https://www.linkedin.com/company/1241/people/', 'https://www.linkedin.com/company/8322970/people/', 'https://www.linkedin.com/company/210064/people/', 'https://www.linkedin.com/company/1068/people/', 'https://www.linkedin.com/company/1009/people/', 'https://www.linkedin.com/company/253418/people/', 'https://www.linkedin.com/company/1106983/people/', 'https://www.linkedin.com/company/1068/people/', 'https://www.linkedin.com/company/1508/people/', 'https://www.linkedin.com/company/50226/people/', 'https://www.linkedin.com/company/11115/people/', 'https://www.linkedin.com/company/210064/people/', 'https://www.linkedin.com/company/914889/people/', 'https://www.linkedin.com/company/15506/people/', 'https://www.linkedin.com/company/5140/people/', 'https://www.linkedin.com/company/204218/people/', 'https://www.linkedin.com/company/1691/people/', 'https://www.linkedin.com/company/3067/people/']

24

In [79]:
##scrapping link for level,no_applicant

poo = browser.find_elements(By.CLASS_NAME ,value="job-card-list__title")
la=[]
for lk in poo:
    la.append(lk.get_attribute("href"))
print(la)
print()
print(len(la))

['https://www.linkedin.com/jobs/view/3382747290/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=SD1aGGwQ3ZGqH91LySLp3Q%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3381573426/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=IN_NETWORK&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=EjKyTeXUenDLgNqk3jrthA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3372753063/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=XXUFrbS%2Bu5VTx53%2FRZunxA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3391986396/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=QsWtBSIFpb%2BjPON2khc71w%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3395782611/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=9mcW6DHBtRY8IlJJtBQaOw%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3379853090/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=AVMigEj2SA9NEGmiGn5bdQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3381574354/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=CyVOGpr2pzrmfFR2vxkkBg%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3372512266/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=gncIYF5U%2BgQb5zZ5DF6TUQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3390642859/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=RfJ0FM8x8mREQtMKyLShLQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3391340381/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=%2B9MtmqlQjd%2BqqszoaHW2ZQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3379848477/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=dyf%2F%2Fle8HbVGsskM8rZJzA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3354939648/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=1CtLHpBdSYlleWkIp%2FkGAA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3358840754/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=fUySPrp7IWXAOUfZNdEcFQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3379137271/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=HPxdy9KbaKN402PHr%2F7Tsg%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3363659857/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=IN_NETWORK&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=KFpBImA%2FAqZDVhiueoEUzQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3391868957/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=MtzT3GwzosghOJ9V90Q6Og%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3371640085/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=wdaNToSNkjiNipxdp2M3Dw%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3399859427/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=Sr2xpQALupzOyC%2F3tLqUmQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3391205967/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=8I9jLibUxmqTvicrOy3YWQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3366724602/?eBP=CwEAAAGFEHjc4uptsQtigK4-AKBB8fIBowRvD_RJKNUK7WPcI-11qQpg8zXWyX2XFKySCh6lUKQsfJF8MhelS3AtNaoSiD15pAJR7sIlhLIS1D5ry3QUpJZ-96wJK4x_cGW8gt3pexqbIX-6k0neDRL6zXj6BpzZ4iJ01trC3qH1mbFpCPRt7DndaNwYSv__IDpoklt_emeXUz24if1eJaE6HLj_zhpbxcpGo_HiyJUpU_Kx56SYrjt2Xe2mtXqJbuA26z4cw1lVn_RfHcE4cXVymA0k3VOco5maZQd0GuP9Vm2UWbDi_Qa9fOELCJ-9DjaUfnhbBLoh8GHs9ZJ692Xn9LXGhMWG9RumOCQTy5H03_u0tdvloLWL-pV17HN_TX2lXg&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=ziCV%2BpNyxfaGV4dMSRDKZA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3369800334/?eBP=CwEAAAGFEHjc4mec4IlDT4PhZj44q815aot0mnJ5XyfaH0gFWGlyCVYv_CJt5fY7Amw6CPhwLj7mk80W6uEng0IHMoH_YJxktV5u4J0i7eHFJE7RPe968E_ksmpAHR5Dd_fKlXna8HgR4ZR8c00jbLbtMA989aNa_iDP1ceh8D3sNIySnRqbxpI9nt3_HZ67eM-Vo50DGwAy9KmJ7mjTlrJAOKI1EkA0y5sle9HVsRPRA2fsF1rHnVdcXGTpkwp2jXcPFY5KWqqQZu_jzJwtwBrw588LNk9u0SJpIyypAxHacYo_K_Oz_4DJQhDnnJrCXMMyuBzl48jDC60vZlqxPOZN8u8U7_Lqu2fNID3lp-ur8lO6i0G8RjBb3E3Q6rR9W3xGtw&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=USVYJ%2BhMUEJ5FJbpx8%2F8rw%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3372362972/?eBP=CwEAAAGFEHjc4oERQFCAvZfCZW1iVUc_htD_BPQrNnf0YSZPPMlyc75c86KnOtZcywGPTJ1InWEIJhfXXhHn1XbpEvZrymJdI8pnaN2ukusiNmWLD6y2-Ncu53fwFhLKaafi7Bpx6akkBE7XvAupmJ378iusexONMpOVyMPDmgknmQDOsZXsiRPXUWi2JCNpCzlc0NRt_o76pDqjQdY24S74H-3e1Kc9wdl605zYo4lRZF7B3Lc9sAIlANjEX-dD1JYQj46Sl8dZkfloOXBE3C1APrttOeNu2DseLIozV3nULlOFIPqQgaYwefQFVYKDZl1nfqje05tNz5IlROD_pAbm3ZjUiWCn_TIupvDXSbGFGpEulWoF40Fc3FmRckpMmpulHg&recommendedFlavor=SKILL_ASSESSMENTS&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=XLJ0Ppycopg3r8DRkof9AA%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3376943638/?eBP=CwEAAAGFEHjc4oaGED_rufKmrUr6nyWdjQ32LmQ3dlFYY2tun9CSuN6IYZ2UaQFQGmpem7IqefrgzEyrNvNSpcBhSvsDBqzFBMVJ8mIItQtl1HmNBkjl6wLNRLBMIa2V964FfXAjDnz5plZgCuqyvYvrKN11nQf8qgJDA9zsDN1YUq3R622jtLW3iPSbYLcKXhk446CXpi1uKnsRh-dR8FcBXERJddQnd0_puvbxolAN1_z5spLUrQCh_QsU9wxp_OPW7jLVOcTGGWMg5UwPuV6I84J7C5paRb_bOq34jwbwU0OQTVZJCxUnNBhe-d4mEjUkg1Qx6D_crydzGm5AnVqgwTfmVhksMSwtybXimjo4DLu4UX2xeQo1Dfyl_aTn7fPW8Q&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=tpNcyOmTHbHqnTLkYV46AQ%3D%3D&trk=flagship3_search_srp_jobs', 'https://www.linkedin.com/jobs/view/3365806757/?eBP=CwEAAAGFEHjc4hRB7ZLP6lq2abIg3NvDM5aSiamZ6vCY6rQ7-OfA1gnniCYArIYsnYdpolgxVjQ2WAXZP5RmUp5CMpQomvWocwjPMNDqxdeHWt7lSrVxS5OaU6BMBw3dF-VaJElgMD4MR5Oz_9ERhw3ZqeOl7xCiJDkWV2IEe9RIEK3SH_LqR2oDRCfdWxgyEkrLs93lZoNNxy5kTWQzHYZFThnXcaIyemnqDdzv6-9_wG7yZgV7J-MTkZT_5NQ91Ffuu0RKunW3Jsx0K37C8y5NzMBr6HpcSUxg4ZtpS9nIu_1R1mIz6lZWNVSVyDac2c-wM2WiCJDxJdbK9GCEX_01A5PcHoBk4uQ_JElzIjPDnlI-_ltNaTBgp222AtYeBv5g9w&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GXddTd4eUJu3Oqwq71hyug%3D%3D&trackingId=Y3%2BgEBzY2BM0xCMmv0vrXA%3D%3D&trk=flagship3_search_srp_jobs']

24

In [80]:
#scrapping industryname

import time 
qw=[]
for o in w:
    try:
        browser.get(o) 
        time.sleep(5)
        lo = browser.find_elements(By.XPATH,'//*[@id="ember26"]/div[2]/div[1]/div[1]/div[2]/div/div/div[1]')
        for p in lo:
            qw.append(p.text)
    except:
        qw.append('None')
print(qw)
print()
print(len(qw))

['Oil and Gas', 'Appliances, Electrical, and Electronics Manufacturing', 'IT Services and IT Consulting', 'Staffing and Recruiting', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'Financial Services', 'Staffing and Recruiting', 'IT Services and IT Consulting', 'Financial Services', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'Financial Services', 'Banking', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'IT Services and IT Consulting', 'Financial Services', 'IT Services and IT Consulting', 'Software Development', 'Banking', 'IT Services and IT Consulting']

24

In [81]:
#scrapping no_followers

import time
No_followers=[]
for y in w:
    try:
        browser.get(y)
        time.sleep(5)
        op = browser.find_elements(By.XPATH,'//*[@id="ember26"]/div[2]/div[1]/div[1]/div[2]/div/div')
        for m in op:
            No_followers.append(m.text)
    except:
        No_followers.append('None')
        
print(No_followers)
print()
print(len(No_followers))

['Oil and Gas London, England 6,073,353 followers', 'Appliances, Electrical, and Electronics Manufacturing Rueil Malmaison, Paris 3,454,399 followers', 'IT Services and IT Consulting Mumbai, MH 91,031 followers', 'Staffing and Recruiting Ahmedabad, Gujarat 3,382 followers', 'IT Services and IT Consulting Vadodara, Gujarat 1,662 followers', 'IT Services and IT Consulting Armonk, New York, NY 14,804,690 followers', 'Financial Services London 3,150,863 followers', 'Staffing and Recruiting Kolkata, West Bengal 4,952 followers', 'IT Services and IT Consulting New York, NY 2,303,771 followers', 'Financial Services New York, NY 3,546,678 followers', 'IT Services and IT Consulting Armonk, New York, NY 14,804,694 followers', 'IT Services and IT Consulting Ahmedabad, Gujarat 33,025 followers', 'IT Services and IT Consulting Ahmedabad, Gujarat 9,180 followers', 'Financial Services New York, NY 3,546,678 followers', 'Banking Paris 1,223,834 followers', 'IT Services and IT Consulting Vadodara, Gujarat 27,805 followers', 'IT Services and IT Consulting Rockville, Maryland 108,581 followers', 'IT Services and IT Consulting New York, NY 2,303,782 followers', 'IT Services and IT Consulting Noida, Uttar Pradesh 20,341 followers', 'Financial Services New York, NY 499,396 followers', 'IT Services and IT Consulting Southborough, MA 707,692 followers', 'Software Development Mumbai, Maharashtra 1,133 followers', 'Banking Paris 940,165 followers', 'IT Services and IT Consulting Pune, Maharashtra 3,950,909 followers']

24

In [82]:
#scrapping the no_emp

import time 
no_emp=[]
for y in eer:
    try:
        browser.get(y)
        time.sleep(5)
        op = browser.find_elements(By.XPATH,'//*[@id="main"]/div[2]/div/div[1]/div[1]/h2')
        for m in op:
            no_emp.append(m.text)
    except:
        no_emp.append('None')
        
print(no_emp)
print()
print(len(no_emp))

['212,884 employees', '78,849 employees', '14,542 employees', '53 employees', '34 employees', '423,587 employees', '180,608 employees', '19 employees', '126,231 employees', '290,174 employees', '423,587 employees', '765 employees', '220 employees', '290,174 employees', '169,574 employees', '1,058 employees', '6,089 employees', '126,231 employees', '413 employees', '9,092 employees', '17,281 employees', '71 employees', '47,130 employees', '149,726 employees']

24

In [83]:
# scrapping no_applicant

import time 
no_applicant=[]
for o in la:
    try:
        browser.get(o)
        time.sleep(5)
        opo = browser.find_elements(By.XPATH , '/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[1]/span[2]/span[2]')
        for kl in opo:
            no_applicant.append(kl.text)
    except:
        no_applicant.append('None')
        
print(no_applicant)
print()
print(len(no_applicant))

['67 applicants', 'Over 200 applicants', '183 applicants', '5 applicants', '2 applicants', '82 applicants', '69 applicants', '32 applicants', '194 applicants', '135 applicants', '50 applicants', '19 applicants', '28 applicants', 'Over 200 applicants', '141 applicants', '27 applicants', '34 applicants', '12 applicants', '17 applicants', 'Over 200 applicants', 'Over 200 applicants', '157 applicants', 'Over 200 applicants', 'Over 200 applicants']

24

In [84]:
# scrapping level

import time 
level=[]
for o in la:
    try:
        browser.get(o)
        time.sleep(5)
        opoo = browser.find_elements(By.XPATH ,'/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[2]/ul/li[1]/span')
        for kll in opoo:
            level.append(kll.text)
    except:
        level.append('None')
        
print(level)
print()
print(len(level))

['Full-time', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time', 'Full-time', 'Full-time', 'Full-time · Mid-Senior level', 'Full-time · Associate', 'Full-time', 'Full-time', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Associate', 'Full-time · Associate', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level', 'Full-time · Mid-Senior level']

24

In [85]:
df = pd.DataFrame({"comapanyname":d[0:] , "designation":a[0:] , "location":c[0:] , "industryname":qw[0:] , 
                   "No_followers":No_followers[0:] , "no_emp":no_emp[0:] , "no_applicant":no_applicant[0:],
                   "level" :level[0:]})
df

,comapanyname,designation,location,industryname,No_followers,no_emp,no_applicant,level
0,Shell,Business Analyst,"Bengaluru, Karnataka, India",Oil and Gas,"Oil and Gas London, England 6,073,353 followers","212,884 employees",67 applicants,Full-time
1,Schneider Electric,Business Analyst - Data and Analytics,"Bengaluru, Karnataka, India","Appliances, Electrical, and Electronics Manufa...","Appliances, Electrical, and Electronics Manufa...","78,849 employees",Over 200 applicants,Full-time · Mid-Senior level
2,LTIMindtree,BUSINESS ANALYST DOMAIN,"Bengaluru, Karnataka, India",IT Services and IT Consulting,"IT Services and IT Consulting Mumbai, MH 91,03...","14,542 employees",183 applicants,Full-time · Mid-Senior level
3,Elite Consultants,Business Analyst | Ahmedabad,"Ahmedabad, Gujarat, India",Staffing and Recruiting,"Staffing and Recruiting Ahmedabad, Gujarat 3,3...",53 employees,5 applicants,Full-time · Mid-Senior level
4,Bluebox Infosoft Pvt. Ltd.,Business Analyst,"Vadodara, Gujarat, India",IT Services and IT Consulting,"IT Services and IT Consulting Vadodara, Gujara...",34 employees,2 applicants,Full-time
5,IBM,Business Analyst: ADM,"Bengaluru, Karnataka, India",IT Services and IT Consulting,"IT Services and IT Consulting Armonk, New York...","423,587 employees",82 applicants,Full-time
6,HSBC,Business Analyst,"Pune, Maharashtra, India",Financial Services,"Financial Services London 3,150,863 followers","180,608 employees",69 applicants,Full-time
7,B3 - BRAIN BEHIND BRAND,Business Analyst,"Kolkata, West Bengal, India",Staffing and Recruiting,"Staffing and Recruiting Kolkata, West Bengal 4...",19 employees,32 applicants,Full-time · Mid-Senior level
8,Genpact,Business Analyst - Warranty Analyst-ANA006474,"Bengaluru, Karnataka, India",IT Services and IT Consulting,"IT Services and IT Consulting New York, NY 2,3...","126,231 employees",194 applicants,Full-time · Associate
9,JPMorgan Chase & Co.,Mobile Business Analyst,"Hyderabad, Telangana, India",Financial Services,"Financial Services New York, NY 3,546,678 foll...","290,174 employees",135 applicants,Full-time
10,IBM,Business Analyst: ADM,"Bengaluru, Karnataka, India",IT Services and IT Consulting,"IT Services and IT Consulting Armonk, New York...","423,587 employees",50 applicants,Full-time
11,IndiaNIC Infotech Limited,IndiaNIC Infotech - Business Analyst - Wirefra...,"Ahmedabad, Gujarat, India",IT Services and IT Consulting,"IT Services and IT Consulting Ahmedabad, Gujar...",765 employees,19 applicants,Full-time · Mid-Senior level
12,Krish TechnoLabs,Business Analyst,"Ahmedabad, Gujarat, India",IT Services and IT Consulting,"IT Services and IT Consulting Ahmedabad, Gujar...",220 employees,28 applicants,Full-time · Mid-Senior level
13,JPMorgan Chase & Co.,Business Analyst,"Mumbai, Maharashtra, India",Financial Services,"Financial Services New York, NY 3,546,678 foll...","290,174 employees",Over 200 applicants,Full-time
14,BNP Paribas,Business Analyst - BEACON,"Chennai, Tamil Nadu, India",Banking,"Banking Paris 1,223,834 followers","169,574 employees",141 applicants,Full-time · Mid-Senior level
15,Rishabh Software,Business Analyst,"Vadodara, Gujarat, India",IT Services and IT Consulting,"IT Services and IT Consulting Vadodara, Gujara...","1,058 employees",27 applicants,Full-time · Mid-Senior level
16,Infinite Computer Solutions,Business Analyst,"Bengaluru East, Karnataka, India",IT Services and IT Consulting,"IT Services and IT Consulting Rockville, Maryl...","6,089 employees",34 applicants,Full-time · Mid-Senior level
17,Genpact,Business Analyst - MS-BFS015791,"Noida, Uttar Pradesh, India",IT Services and IT Consulting,"IT Services and IT Consulting New York, NY 2,3...","126,231 employees",12 applicants,Full-time · Associate
18,Webkul,Business analyst,"Noida, Uttar Pradesh, India",IT Services and IT Consulting,"IT Services and IT Consulting Noida, Uttar Pra...",413 employees,17 applicants,Full-time · Associate
19,Synechron,Business Analyst,"Pune, Maharashtra, India",Financial Services,"Financial Services New York, NY 499,396 followers","9,092 employees",Over 200 applicants,Full-time · Mid-Senior level
20,Virtusa,Business Analyst,"Chennai, Tamil Nadu, India",IT Services and IT Consulting,"IT Services and IT Consulting Southborough, MA...","17,281 employees",Over 200 applicants,Full-time · Mid-Senior level
21,Herald Logic Pvt Ltd,Solutions Analyst,India,Software Development,"Software Development Mumbai, Maharashtra 1,133...",71 employees,157 applicants,Full-time · Mid-Senior level
22,Societe Generale,Business Analyst,"Bengaluru, Karnataka, India",Banking,"Banking Paris 940,165 followers","47,130 employees",Over 200 applicants,Full-time · Mid-Senior level
23,Tech Mahindra,Business Analyst,"Chennai, Tamil Nadu, India",IT Services and IT Consulting,"IT Services and IT Consulting Pune, Maharashtr...","149,726 employees",Over 200 applicants,Full-time · Mid-Senior level

In [86]:
df.to_excel("data-8.xlsx")